.headerWrap{
    display: none;
    background: #f00;
    color: #fff;
    padding: 30px 0;
}

.headerWrap .container{
    width: 1200px;
    margin: 0 auto;
}

.tabMenu{
    padding: 100px 0;
    background: #f2f2f2;
}

.tabMenu .container {
    width: 600px;
    margin: 0 auto;
}

.tabMenu .tabLink{
    display: flex;

}
.tabMenu .tabLink li{
    flex: 1;
}
.tabMenu .tabLink li.active{
   color: #f00;
}
.tabMenu  .tabContent>div {
    display: none;
}


.tabMenu  .tabContent>div.active {
    display: block;
    /* active가 붙어있는 태그는 나오게 */
}

.bgFixed{
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background: url(../img/apple_01.jpg) no-repeat  fixed center center/cover;
    background-attachment: fixed;
}
.bgFixed h2{
   font-size: 15px;
   font-weight: 100;
   letter-spacing: 3em;
   margin-bottom: 30px;
}
.iwrap{
    position: relative;
}
.xi-close{
    position: absolute; top: 0; right: 30%; 
    background-color: #7684ff;
    padding: 10px;
    border-radius: 20px;
}